.quiz-container{
    color: #2a2a2a;
    margin: 2rem 3rem;
}

.quiz-title{
    margin: left;
    width: 300px;
}

.title{
    text-align: left;
    font-size: xx-large;
    font-weight: bold;
}

.quiz-title input{
    width: auto;
    font-size: x-large;
    margin-bottom: 5%;
}

.questions{
    border-top: 5px solid;
}

.question{
    font-size: x-large;
    margin-bottom: 5%;
}

.answer{
    float: left;
    margin-left: 15%;
    margin-bottom: 5%;
}

.quiz-container form{
    
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    justify-content: center;
    align-content: center;
    background-color: rgb(160, 183, 245);
    border: 10px solid rgb(123, 131, 192);
}

.quiz-container button{
    margin: auto;
    background: #65cc7b;
    width: 300px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 20px;
}

.back{
    color: #2a2a2a;
    text-align: left;   
    margin: 1rem 1rem;
}

.back button{
    border: none;
    background: #fff;    
    font-size: 20px;
}

