.enroll-container{
    color: #2a2a2a;
    margin: 4rem 6rem;
}

.enroll-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-content: center;
}

.enroll-container h1{
    font-size: 60px;
}

.enroll-container h2{
    font-size: 15px;
    padding-bottom: 2rem;
}

.enroll-container h3{
    font-size: 40px;
}

.enroll-container button{
    background: #65a3cc;
    margin-bottom: 2rem;
    font-size: 20px;
}

.enroll-container h3{
    font-size: 15px;  
}

.Enter{
    font-size: 15px;
    padding-top: 1rem;
}

.Enter input{
    height: 30px;
    font-style: italic;
    width: 300px;
}

.Enter button{
    margin-left: 1rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
}

.back{
    color: #2a2a2a;
    text-align: left;   
    margin: 1rem 1rem;
}

.back button{
    border: none;
    background: #fff;    
    font-size: 20px;
}

