 .score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
    background-color: #252d4a;
    align-content: center;
    width: 450px;
    min-height: 200px;
    height: min-content;
    color:#ffffff;
    border-radius: 15px;
    padding-left: 50px;
  }

  .btn-submit {
    align-content: center;
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 100%;
    position: relative;
  }
  
  .question-count {
    margin-bottom: 20px;
  }
  
  .question-count span {
    font-size: 26px;
  }
  
  .question-text {
    margin-bottom: 12px;
    font-size: 28px;
    padding-bottom: 50px;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    padding-left: 2px;
    width: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  button {
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    border-spacing: 10px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }
  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  button:hover {
    background-color: #3E8EDE;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }